doctype html
html(lang="pt-br")
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet prefetch', href='/bootstrap/css/bootstrap.min.css')
		// link(rel='stylesheet prefetch', href='/materialize/css/materialize.min.css')
		link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
		script(src='/jquery/jquery-3.3.1.min.js')
		script(src='/jquery/jquery.tablesorter.min.js')
		script(src='/bootstrap/js/bootstrap.min.js')
		script(src='http://momentjs.com/downloads/moment.js')
		// script(src='/materialize/js/materialize.min.js')
		script.
			function goBack() {
				window.history.back();
			}
	body#fullPage
		header
			nav#nav.navbar
				.container
					.navbar-header.topMargin
						.navbar-brand
							a(href='/competition/')
								p InaJudge
					.col-md-2.floatRight
						//- .col-md-6.floatLeft.topMargin
						//- 	a(href="/competition/")
						//- 		i.material-icons.floatLeft account_circle
						//- 		p.floatLeftPerfil Perfil
						.col-md-12.floatLeft.topMargin
							a(href="/logout")
								i.material-icons.floatLeft power_settings_new
								p.floatLeft Sair
		block content
	rodape
		.rodape
			.container
				.row.return
					.col-md-2
						i.large.material-icons(onclick="goBack()") keyboard_return
		block addItem
