doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet prefetch', href='/bootstrap/css/bootstrap.min.css')
        // link(rel='stylesheet prefetch', href='/materialize/css/materialize.min.css')
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
        script(src='/jquery/jquery-3.3.1.min.js')
        script(src='/jquery/jquery.tablesorter.min.js')
        script(src='/bootstrap/js/bootstrap.min.js')
        // script(src='/materialize/js/materialize.min.js')
        script.
            function goBack() {
                window.history.back();
            }

    body
        div.container
            div.row
                div.account-wall
                    div(style="margin-top: 50px;")
                        img(class='profile-img', src='images/inajudge.png', style="margin-left: -9px;")
                        form(class='form-signin', action='/login', method='POST')
                            input(type='text', name='username' class='form-control', placeholder='Email',required, autofocus)
                            input(type='password', name='password' class='form-control', placeholder='Senha', required)
                            button(class='btn btn-lg btn-primary btn-block', type='submit') Acessar
                            span.clearfix
                        a(href='/signup', class='text-center new-account') Criar nova conta
                        #message
                        if message
                            h1.text-center.error-message #{message} 
