@import url('https://fonts.googleapis.com/css?family=Montserrat');
header {
	font-family: 'Montserrat', sans-serif;
}
body {
	font-family: 'Montserrat', sans-serif;
  	/* font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; */
}

a {
  	color: #00B7FF;	
}
a:hover {
	text-decoration: none !important;
}

/* DEFAULTS */
	.floatLeft {float: left;}
	.floatRight {float: right;}

	.borderSuccess {border-color: green;}
	
/* -------- */

/* LOGIN */
.account-wall {position: relative; margin: 80px auto; width: 300px; text-align: center;}
.account-wall img {border-radius: 80px; margin-bottom: 20px;}
.account-wall form input {margin-bottom: 10px;}


nav {background-color: cornflowerblue; margin-bottom: 15px; height: 70px;}
nav .topMargin {margin-top: 10px;}
nav .topMargin i {margin-right: 6px;}
nav .container a {color: #ffffff;}

.text-blue {color: cornflowerblue;}

/* RODAPE */
.rodape {margin-top: 15px;}
.rodape .return {right: 80px; bottom: 20px; position: fixed;}
.rodape .return:hover {cursor: pointer;}

#arquivoInput.form-control {width: auto;}
#addItem {margin-bottom: 10px;}
.input_fields_wrap {margin-top: 15px;}
.remove_field {color: red; margin-top: 15px; margin-left: 5px;}

/* COMPETIÇÃO */
	/* INDEX */
		.escolha {margin-top: 15px;}
		.escolha .default {font-size: 24px; text-align: center; text-transform: uppercase; padding-bottom: 5px;}
		.escolha .default i {font-size: 32px;}
		.escolha .danger {color: green; border: 1px solid green !important;}
		.escolha .danger i {color: green;}
		.escolha .warning {color: #ffa500; border: 1px solid #ffa500 !important;}
		.escolha .warning i {color: #ffa500;}
		.escolha .acabadas {color: red; border: 1px solid red !important;}
		.escolha .acabadas i {color: red;}
		#mytable {margin-top: 15px;}
		#mytable3 {margin-top: 15px;}
		#mytable2 {margin-top: 15px;}

		.tabelaLink td a, th a {color: #000000;}
		tr td p, tr th p {cursor: pointer;}
	/* SubMenu */
		.navSubmenu {background-color: transparent; margin-top: 35px; width: 100%;}
		.navSubmenu .active {color: cornflowerblue !important; background-color: transparent !important; border-color: transparent !important;}
		.navSubmenu a {color: slategray;}
		.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {border-color: transparent !important;}
		.navSubmenu a:hover {color: cornflowerblue !important;}
	/* criação */
		.create_competition input {margin-bottom: 8px;}
		.create_competition textarea {margin-bottom: 8px;}
  	/* Index */
		.card {border: 2px solid #00B7FF; border-radius: 20px; padding: 20px;}
	/* SALA */
		#data_reduzindo {font-size: 38px; text-align: center; margin-top: -40px;}
		.minutosRes {text-align: center;}
		.sendProblem select {margin-bottom: 10px;}
		.sendProblem button {margin-top: 10px; float: right;}
		.topo {position: relative; float: right; text-align: right}
		.face {color: #000000;}
		.normal a {color: #000000;}
		.normal a:hover {color: #000000;}
		/* se respota for correta */
		.sucesso {border: 1px solid green !important; color: green;}
		.sucesso .face {color: green;}
		.sucesso:hover {color: green;}
		/* se respota for recusada */
		.falha {border: 1px solid tomato !important; color: tomato;}
		.falha .face {color: tomato;}
		.falha:hover {color: tomato;}
		
		.tpBallon {margin: 0 auto; border-radius: 35px; padding-top: 2px; width: 30px; height: 30px; color: #ffffff} 
		.tpBallonA {margin: 0 auto; border-radius: 35px; padding: 6px 10px; color: #ffffff; } 
		a.tpBallonA:hover {
			color: #fff;
		}

		/* TAB 2 PLACAR */
			.myTableTable {counter-reset: rowNum;}			
			.myTableTable tbody tr {
				position: relative;
				counter-increment: rowNum;
			}			
			.myTableTable thead .contLinha::before  {
				content: 'a';
			}			
			.myTableTable tbody .contLinha::before {
				content: counter(rowNum);
				left: -2em;
			}
			.myTableTable thead tr th {text-align: center;}
			.myTableTable thead tr th:nth-child(1) {text-align: left;}
			.myTableTable thead tr th:nth-child(2) {text-align: left;}
			/* .myTableTable tbody tr {height: 15px !important;} */
			.myTableTable tbody tr th {width: 40px; padding-top: 20px; padding-bottom: 20px; text-align: center;}
			.myTableTable tbody tr th.ulti {font-weight: normal;}
			.myTableTable tbody tr td {text-align: center; width: 90px; border-right: 2px solid #fff; padding-top: 5px; padding-bottom: 5px;}
			.myTableTable tbody tr td:nth-child(2) {text-align: left; width: auto; padding-top: 20px; padding-bottom: 20px;}
			.myTableTable td.acerto {background-color: green; color: #ffffff; text-align: center;} 
			.myTableTable td.erro {background-color: tomato; color: #ffffff; text-align: center;} 
			.myTableTable td p {margin: 0;}
	/* PROBLEMA */
		.cadastrarProblemaA h3 {text-align: center; margin-top: 5px; border-bottom: 1px solid #cecece; padding-bottom: 15px; padding-top: 15px;}
		.topo2 {margin-top: 15px;}
		.fundinho,textarea {background-color: lightslategrey; width: 100%; min-height: 80px; border-radius: 10px; color: #fff; padding-left: 10px; padding-top: 5px;}
		.fundoBG {background: #EFEFEF; width: 100%; height: 100vh; margin-top: -15px;}
		.fundoBG .problemaAberto {border: 1px solid #cecece; margin-top: 20px; border-radius: 15px; background-color: #F5F5F5; 
			-webkit-box-shadow: 13px 9px 24px -10px rgba(206,206,206,0.65);
			-moz-box-shadow: 13px 9px 24px -10px rgba(206,206,206,0.65);
			box-shadow: 13px 9px 24px -10px rgba(206,206,206,0.65);
		}
		.fundoBG .problemaAberto h3 {text-align: center !important; margin-top: 5px; border-bottom: 1px solid #cecece; padding-bottom: 15px; padding-top: 15px;}
		.fundoBG .problemaAberto h4 {font-size: 18px;}		
	/* ESCLARECIMENTO */
		.esclarecimento {margin-top: 15px;}
		.esclarecimento span {color: darkgrey;}
		.esclarecimento .letraProblema {right: 20px; position: absolute;}
	/* SUBMIT */
		.active {display: block;}
		.desativo {display: none;}
	