body {
  	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  	color: #00B7FF;
	
}
a:hover {
	text-decoration: none !important;
}

/* DEFAULTS */
	.floatLeft {float: left;}
	.floatRight {float: right;}

	.borderSuccess {border-color: green;}
	
/* -------- */

/* LOGIN */
.account-wall {position: relative; margin: 80px auto; width: 300px; text-align: center;}
.account-wall img {border-radius: 80px; margin-bottom: 20px;}
.account-wall form input {margin-bottom: 10px;}


nav {background-color: cornflowerblue; margin-bottom: 15px; padding-top: 10px;}
nav .container a {color: #ffffff;}

/* RODAPE */
.rodape {margin-top: 15px;}
.rodape .return {right: 80px; bottom: 20px; position: fixed;}
.rodape .return:hover {cursor: pointer;}

#arquivoInput.form-control {width: auto;}
#addItem {margin-bottom: 10px;}
.input_fields_wrap {margin-top: 15px;}
.remove_field {color: red; margin-top: 15px; margin-left: 5px;}

/* COMPETIÇÃO */
	/* INDEX */
		.escolha {margin-top: 15px;}
		.escolha .default {font-size: 24px; text-align: center; text-transform: uppercase;}
		.escolha .default i {font-size: 32px;}
		.escolha .danger {color: red; border: 1px solid red !important;}
		.escolha .danger i {color: red;}
		.escolha .warning {color: gold; border: 1px solid gold !important;}
		.escolha .warning i {color: gold;}
		.escolha .acabadas {color: cornflowerblue; border: 1px solid cornflowerblue !important;}
		.escolha .acabadas i {color: cornflowerblue;}
		#mytable {margin-top: 15px;}
		#mytable3 {margin-top: 15px;}
		#mytable2 {margin-top: 15px;}

		.tabelaLink td a, th a {color: #000000;}
		tr td p, tr th p {cursor: pointer;}
	/* SubMenu */
		.navSubmenu {background-color: transparent; margin-top: 35px; width: 100%;}
		.navSubmenu .active {color: cornflowerblue !important; background-color: transparent !important; border-color: transparent !important;}
		.navSubmenu a {color: slategray;}
		.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {border-color: transparent !important;}
		.navSubmenu a:hover {color: cornflowerblue !important;}
	/* criação */
		.create_competition input {margin-bottom: 8px;}
		.create_competition textarea {margin-bottom: 8px;}
  	/* Index */
		.card {border: 2px solid #00B7FF; border-radius: 20px; padding: 20px;}
	/* SALA */
		.sendProblem select {margin-bottom: 10px;}
		.sendProblem button {margin-top: 10px; float: right;}
		.topo {position: relative; float: right; text-align: right}
		.face {color: #000000;}
		.normal a {color: #000000;}
		.normal a:hover {color: #000000;}
		/* se respota for correta */
		.sucesso {border: 1px solid green !important; color: green;}
		.sucesso .face {color: green;}
		.sucesso:hover {color: green;}
		/* se respota for recusada */
		.falha {border: 1px solid tomato !important; color: tomato;}
		.falha .face {color: tomato;}
		.falha:hover {color: tomato;}
	/* PROBLEMA */
		.topo2 {margin-top: 15px;}
		.fundinho {background-color: lightslategrey; width: 100%; min-height: 80px; border-radius: 10px; color: #fff; padding-left: 10px;}
	/* ESCLARECIMENTO */
		.esclarecimento {margin-top: 15px;}
		.esclarecimento span {color: darkgrey;}
		.esclarecimento .letraProblema {right: 20px; position: absolute;}